<h1><%= page %></h1>

<form action="/auth/login" method="post">
  <label for="auth-email">Email</label>
  <input type="email" id="auth-email" name="email" required />
  <label for="auth-password">Password</label>
  <input type="password" id="auth-password" name="password" required minlength="4" />
  <% if (page === 'register') { %>
  <label for="auth-password-confirm">Confirm Password</label>
  <input type="password" id="auth-password-confirm" name="passwordConfirm" required minlength="4" />
  <% } %>

  <button type="submit"><%= page %></button>
</form>
