<h1>New Article</h1>
<form action="/articles/new" method="post">
  <label for="new-article-title">Title</label>
  <input type="text" id="new-article-title" name="title" />
  <label for="new-article-content">Content</label>
  <textarea name="content" id="new-article-content" cols="30" rows="10"></textarea>
  <button type="submit">Submit</button>
</form>
