<header class="header">
  <div class="header__left">
    <div class="log">Logo</div>
    <%- include('../partials/search') %>
  </div>
  <div class="header__right">
    <nav>
      <ul class="header__nav-items">
        <li><a href="/my-articles">My Articles</a></li>
        <li><a href="/articles/new">New</a></li>
        <li><a href="/notification">Notification</a></li>
      </ul>
    </nav>
  </div>
  <div class="avatar">S</div>
</header>
