<header class="header">
  <div class="header__left">
    <div class="logo">Logo</div>
    <%- include("search") %>
  </div>
  <div class="header__right">
    <nav>
      <ul class="header__nav-items">
        <li><a href="/my-articles">My Articles</a></li>
        <li><a href="/articles/new">New</a></li>
        <li><a href="/notification">Notification</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
      </ul>
    </nav>
    <div class="avatar">S</div>
  </div>
</header>
