.search {
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  border-radius: 36px;
  background-color: rgb(247, 247, 247);
  padding: 12px;

  input[type='search'] {
    border: none;
    background-color: transparent;

    &:focus-visible {
      outline: none;
    }
  }
}
